.profile__chat {
  background: transparent;
  border: none;
  border-bottom: 1px solid #F9F9F9;
  width: 423px;
  max-width: calc(100% - 64px);
  
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
}


.profile__chat::placeholder { 
  color:#F9F9F9;
  opacity: 1; 
  padding-bottom: 12.96px;
}